<h1>{{header}}</h1>
<div class="row">
   <div class="col-lg-4"></div>
   <div class="col-lg-4" style="margin-top: 100px;">
    <h2 class="text-center">Login form</h2>
    <form action=""class="border m-5 p-5 ">
        <div>
         <input (change)="acnoChange($event)" class="form-control" type="text"[placeholder]=" accPlaceholder">
        </div>
        
        <div>
        <input (change)="pswdChange($event)" class="form-control" type="password"placeholder="password">
    </div>
       <div>
        <input (click)="login()" class="form-control" type="button" value="Login" name="" id="loginBtn">
       </div>
   
  
   <div>
    <label for="">not a user?click here<a href="">register</a></label>
   </div>
</form>
</div>
   <div class="col-lg-4"></div>

</div>
