<h1 class="m-5">welcom user</h1>
<div class="row">
    <div class="col-6">
        <div class="border container w-85 m-2">
            <h2 class="text-center">Deposit form</h2>
            <form [formGroup]="depositForm" action=""class="border m-5 p-5 "(ngSubmit)="deposit()">
               
                <div>
                 <input  formControlName="acno" name="acno"class="form-control" type="text"placeholder=" account number">
                </div>
                <div *ngIf="this.depositForm.get ('acno')?.touched&&this.depositForm.get('acno')?.errors"class="m-3" style="color: red;">
                 Invalid accountnumber
                </div>

                <div>
                <input formControlName="pswd" name="pswd" class="form-control" type="password"placeholder="password">
            </div>
            <div *ngIf="this.depositForm.get ('pswd')?.touched&&this.depositForm.get('pswd')?.errors"class="m-3" style="color: red;">
              Invalid password
             </div>
             <div>
                <input formControlName="amount" name="amount"class="form-control" type="text"placeholder=" amount">
               </div>
               <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors"class="m-3" style="color: red;">
                Invalid Amount
               </div>
               <div>
                <input class="btn btn-primary" type="submit" value="Deposit" name="" id="loginBtn">
               </div>
              </form>
          
           
        </div>

    </div>
    <div class="col-6">
        <div class="border container w-85 m-2">
            <h2 class="text-center">withdraw form</h2>
            <form [formGroup]="withdrawForm" action=""class="border m-5 p-5 "(ngSubmit)="withdraw()">
               
                <div>
                 <input  formControlName="acno" name="acno"class="form-control" type="text"placeholder=" account number">
                </div>
                <div *ngIf="this.withdrawForm.get ('acno')?.touched&&this.withdrawForm.get('acno')?.errors"class="m-3" style="color: red;">
                 Invalid accountnumber
                </div>

                <div>
                <input formControlName="pswd" name="pswd" class="form-control" type="password"placeholder="password">
            </div>
            <div *ngIf="this.withdrawForm.get ('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors"class="m-3" style="color: red;">
              Invalid password
             </div>
             <div>
                <input formControlName="amount" name="amount"class="form-control" type="text"placeholder=" amount">
               </div>
               <div *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors"class="m-3" style="color: red;">
                Invalid Amount
               </div>
               <div>
                <input class="btn btn-primary" type="submit" value="withdraw" name="" id="loginBtn">
               </div>
              </form>
          
           
        </div>

    </div>
</div>
